* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #020A18;
    
}

.top {
    padding-bottom: 99px;
    background: #020A18;
    padding-left: calc(50% - 1146px / 2);
    padding-right: calc(50% - 1146px / 2);
}

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 39px;
    paddding-bottom: 39px;
    borer-radius: 10px;


}

.header__link {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 40px 20px;
}

.top__content {
    display: flex;
    flex-wrap: wrap;
    width: 1146px;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    margin-top: 160px;
    margin-bottom: 197px;

}

.subtitle {
    font-style: normal;
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    width: 604px;
    font-stretch: normal;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;

}

.text {
    width: 558px;
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071;

}

.top__button {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;

}

.top__logos {
    display: flex;
    width: 1147.297px;
    justify-content: space-between;
    align-items: center;
    margin-top: 197px;
    margin-bottom: 99px;
}